"*":
  "":
    slim:
      text:
        editor:
          preferredLineLength: 130
          showIndentGuide: true
          showInvisibles: false
    source:
      yml:
        "tabs-to-spaces":
          onSave: "none"
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      paintCursor: true
      predefinedColor: "Purple"
    tabs:
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-js-import":
    fuzzy:
      enabled: true
  "autocomplete-ruby":
    rsensePath: "/Users/chrishough/.rbenv/shims/rsense"
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "tabs-to-spaces"
      "language-cfml"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".bundle"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "FiraCode-Retina"
    fontSize: 13
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "d9f8a28e-3694-e767-4e3e-180303f43226"
  "glowing-cursor":
    cursorWidth: 2
    glowColor: "#ff2739"
    glowDistance: 2
    innerColor: "#ff2739"
  linter:
    showErrorPanel: false
    statusBar: "Show all errors"
  "linter-js-yaml": {}
  "linter-jshint": {}
  "markdown-preview":
    useGitHubStyle: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "trailing-spaces":
    enableForIndentation: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: true
".haml.text":
  editor:
    preferredLineLength: 130
".hamlc.text":
  editor:
    preferredLineLength: 130
".slim.text":
  editor:
    preferredLineLength: 130
