"*":
	core:
		destroyEmptyPanes: false
		excludeVcsIgnoredPaths: false
		ignoredNames: [
			".git"
			".svn"
			".DS_Store"
			".bundle"
		]
		themes: [
			"atom-dark-ui"
			"base16-tomorrow-dark-theme"
		]
	editor:
		fontFamily: "Inconsolata"
		fontSize: 15
		invisibles: {}
		preferredLineLength: 130
		showIndentGuide: true
		tabLength: 2
	"exception-reporting":
		userId: "d9f8a28e-3694-e767-4e3e-180303f43226"
	linter:
		statusBar: "Show all errors"
	"linter-js-yaml": {}
	"linter-jshint": {}
	"markdown-preview":
		useGitHubStyle: true
	"tree-view":
		hideIgnoredNames: true
	welcome:
		showOnStartup: false
	whitespace: {}
	".slim.text":
		editor:
			preferredLineLength: 130
			showIndentGuide: true
			showInvisibles: false
	whitespace:
		removeTrailingWhitespace: true
	'tabs-to-spaces':
		'onSave': 'tabify'
