packages: [
  "atom-alignment"
  "atom-react-native-autocomplete"
  "auto-update-packages"
  "autocomplete-js-import"
  "emmet"
  "file-icons"
  "glowing-cursor"
  "indent-guide-improved"
  "language-haml"
  "language-javascript-jsx"
  "language-slim"
  "maximize-panes"
  "move-panes"
  "package-sync"
  "parcel"
  "pretty-json"
  "react"
  "react-es6-snippets"
  "react-snippets"
  "remote-sync"
  "set-syntax"
  "tab-numbers"
  "tabularize"
  "trailing-spaces"
]
