###-> Settings
.bundle
config/application.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/master.key
.env
test.env
scratch.rb
lib/tasks/custom.rake

###-> Folders
/.bundle
coverage
/storage/*
!/storage/.keep
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

###-> File Types
*.com
*.class
*.dll
*.exe
*.o
*.so
*.ase
*.psd
*.ai
*.eps
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite

###-> Keep Design Assets
!design/*.psd
!design/*.ai
!design/*.eps

###-> Configurations
*.idea
*.chef
*.vagrant

###-> OS Generated
.byebug_history
*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
ehthumbs.db
Thumbs.db
*.*~
