###-> Settings
.bundle
config/application.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.env
test.env
scratch.rb
lib/tasks/custom.rake

###-> Folders
tmp
log
coverage

public/robot
!public/robots.txt

###-> File Types
*.com
*.class
*.dll
*.exe
*.o
*.so
*.ase
*.psd
*.ai
*.eps
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite

###-> Keep Design Assets
!design/*.psd
!design/*.ai
!design/*.eps

###-> Configurations
*.idea
*.chef
*.vagrant

###-> OS Generated
*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
ehthumbs.db
Thumbs.db
*.*~
